<!DOCTYPE html>
<html>
    <head>
        <title>Mainpage</title>
        <link rel="stylesheet" href="homepage.css" type="text/css">
    </head>
    
    <body>
        <h1>this is my fucking work already</h1>
        <div id="controls">
            <form action="/" id="getWeather" method="post">
                    
                <input name="userLat" class="userInp" id="lat" type="text" placeholder="Latitude" required>
                    
                <input name="userLong" class="userInp" id="long"  type="text" placeholder="Longitude" required>
                    
                <input id="loginButton" type="submit" value="Get Weather"/>
            </form>
        </div>
    </body>
    
</html>