<!DOCTYPE html>
<html>
    <head>
        <title>Weather Getter</title>
       
    </head>
    
    <body>
        <h1>Weather Getter</h1>
        <div id="controls">
            <form action="/" id="getWeather" method="post">
                    
                <input name="userLat" class="userInp" id="lat" type="text" placeholder="Latitude" required>
                    
                <input name="userLong" class="userInp" id="long"  type="text" placeholder="Longitude" required>
                    
                <input id="loginButton" type="submit" value="Get Weather"/>
            </form>
        </div>
        <div>The Time Zone is: {{timezone}}</div>
        <div>The Summary is: {{summary}}</div>
        <div>The Temperature is: {{temperature}}</div>

    </body>
    
</html>
