<!DOCTYPE html>
<html>
    <head>
        <title>Mainpage</title>
        <link rel="stylesheet" href="homepage.css" type="text/css">
    </head>
    
    <body>
        <h1>this is my website</h1>
        
    </body>
    
</html>